@media(max-width: 1850px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 20%;
    }
}

@media(max-width: 1650px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 19%;
    }
}

@media(max-width: 1450px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 15%;
    }
}

@media(max-width: 1250px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 13%;
    }
}

@media(max-width: 1050px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 11%;
    }
}

@media(max-width: 850px) {
    .header .swiper-container-vertical > .swiper-pagination-bullets {
        left: 9%;
    }
}